<!DOCTYPE html>
<html>
  <head>
    <title>Rails - Users</title>
  </head>

  <body>
    <h1> Users </h1>
    <% @user.each do |u| %>
        <p><%= u.first_name %> <%= u.surname %> <%= u.age %> </p>
    <% end %>

    <%= link_to "New User", "users/new"%>
  </body>
</html>