<body>
  <h1> Users </h1>
  <% @user.each do |u| %>
      <p><%= link_to u.first_name, user_path(u.id) %> </p>
  <% end %>

  <%= link_to "New User", "users/new"%>

  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> alert-dismissible">
      <%= msg %>
    </div>
  <% end %>
</body>
